{% extends 'master.html' %}
{% include 'header.html' %}

{% block title %} Crear Equipo {% endblock %}

{% block body %}

<div class="container">
	<form method="post" action="/edit">
		<table class="table">
			<tr>
				<td>ID</td>
				<td><input type="text" name="id" class="form-control" value="{{ contact.id }}"></td>
			</tr>
			<tr>
				<td>Nombre equipo</td>
				<td><input type="text" name="pais" class="form-control" value="{{ contact.pais }}"></td>
			</tr>

			<tr>
				<td>Idioma</td>
				<td><input type="text" name="idioma" class="form-control" value="{{ contact.idioma }}"></td>
			</tr>

			<tr>
				<td>Continente</td>
				<td><input type="text" name="continente" class="form-control" value="{{ contact.continente }}"></td>
			</tr>

			<tr>
				<td>Grupo</td>
				<td><input type="text" name="grupo" class="form-control" value="{{ contact.grupo }}"></td>
			</tr>

			<tr>
				<td>Capitán</td>
				<td><input type="text" name="capitan" class="form-control" value="{{ contact.capitan }}"></td>
			</tr>

			<tr>
				<td>Puntaje</td>
				<td><input type="text" name="puntaje" class="form-control" value="{{ contact.puntaje }}"></td>
			</tr>

			<tr>
				<td colspan="2">
					<input type="submit" name="submit" value="Actualizar" class="btn btn-warning">
				</td>
			</tr>
		</table>
	</form>
</div>

{% endblock %}